body {
  background-color: green;
}

.inline-block-widgets {
  background-color: aquamarine;
  display: inline-block;
}

.newspaper {
  background-color: rgb(250, 235, 215);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}